# Data Cleaning

In [1]:
import pandas as pd

### Reading the Data

In [43]:
df=pd.read_csv('Imdb 400.csv',index_col=[0],delimiter=None,decimal=',')

### data types of each column atbthe initial stage

In [44]:
df.dtypes

SLNO                             int64
Movie Name                      object
Year of release                 object
Run time                         int64
Movie Rating                    object
Metascore                        int64
Votes                            int64
Gross collection in millions    object
Description                     object
Director                        object
Star                            object
dtype: object

### Renaming

In [45]:
df.rename(columns={'SLNO':'SerialNo'},inplace=True)

#### Replacing the miscalenous data in the year of release column in to proper data

In [47]:
df=df.replace(['II 2018','I 2019','I 2017','I 2015','I 2013','III 2016','I 2004','I 2014','II 2016','I 2011','I 2020'],[2018,2019,2017,2015,2013,2016,2004,2014,2016,2011,2020])

#### changing the datatype of the column after the cleaning

In [56]:
df['Year of release']=df['Year of release'].astype('int64')

#### Column datatype conversion

In [57]:
df['Movie Rating']=df['Movie Rating'].astype('float64')

#### cleaning the gross column and chaning the dtype afterwards

In [58]:
df=df.replace(['#239','#45','#21','#46','#108','#70','#99','#88','#59','#60','#110','#134','#228','#131','#154','#246','#144','#206','#191','#229','#210','#196','#233','#202','#221','#190','#241','#240','#183','#198','#238'],[239,45,21,46,108,70,99,88,59,60,110,134,238,131,154,246,144,206,191,229,210,196,233,202,221,190,241,240,183,198,238])

In [59]:
df['Gross collection in millions']=df['Gross collection in millions'].astype('float64')

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   SerialNo                      400 non-null    int64
 1   Movie Name                    400 non-null    object
 2   Year of release               400 non-null    int64
 3   Run time                      400 non-null    int64
 4   Movie Rating                  400 non-null    float64
 5   Metascore                     400 non-null    int64
 6   Votes                         400 non-null    int64
 7   Gross collection in millions  400 non-null    float64
 8   Description                   400 non-null    object
 9   Director                      400 non-null    object
 10  Star                          400 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 37.5+ KB

In [66]:
gf=df.convert_dtypes(infer_objects=True, convert_integer=True)

#### Datatypes of the each column at the end of the process

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   SerialNo                      400 non-null    int64
 1   Movie Name                    400 non-null    object
 2   Year of release               400 non-null    int64
 3   Run time                      400 non-null    int64
 4   Movie Rating                  400 non-null    float64
 5   Metascore                     400 non-null    float64
 6   Votes                         400 non-null    int64
 7   Gross collection in millions  400 non-null    float64
 8   Description                   400 non-null    object
 9   Director                      400 non-null    object
 10  Star                          400 non-null    object
dtypes: float64(3), int64(4), object(4)
memory usage: 37.5+ KB

#### replacing the outlier values witht the respective mean of the column i.e, Gross and Metascore

In [70]:
collection=df['Gross collection in millions']
collection.replace(to_replace = 0, value = collection.mean(), inplace=True)

In [71]:
score=df["Metascore"]
score.replace(to_replace = 0, value = score.mean(), inplace=True)

In [76]:
df

,SerialNo,Movie Name,Year of release,Run time,Movie Rating,Metascore,Votes,Gross collection in millions,Description,Director,Star
0,1,The Shawshank Redemption,1994,142,9.3,81.0,2646498,28.34,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins, Morgan Freeman, Bob Gunton, Wil..."
1,2,The Godfather,1972,175,9.2,100.0,1834453,134.97,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"['Marlon Brando, Al Pacino, James Caan, Diane ..."
2,3,The Dark Knight,2008,152,9.0,84.0,2618406,534.86,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale, Heath Ledger, Aaron Eckhart,..."
3,4,The Lord of the Rings: The Return of the King,2003,201,9.0,94.0,1822452,377.85,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"['Elijah Wood, Viggo Mortensen, Ian McKellen, ..."
4,5,Schindler's List,1993,195,9.0,94.0,1341386,96.90,"In German-occupied Poland during World War II,...",Steven Spielberg,"['Liam Neeson, Ralph Fiennes, Ben Kingsley, Ca..."
...,...,...,...,...,...,...,...,...,...,...,...
395,396,Pâfekuto burû,1997,81,8.0,67.0,75967,0.78,A pop singer gives up her career to become an ...,Satoshi Kon,"['Junko Iwao, Rica Matsumoto, Shinpachi Tsuji,..."
396,397,Central do Brasil,1998,110,8.0,80.0,39781,5.60,The emotive journey of a former schoolteacher ...,Walter Salles,"['Fernanda Montenegro, Vinícius de Oliveira, M..."
397,398,La leggenda del pianista sull'oceano,1998,169,8.0,58.0,64506,0.26,"A baby boy, discovered in 1900 on an ocean lin...",Giuseppe Tornatore,"['Tim Roth, Pruitt Taylor Vince, Mélanie Thier..."
398,399,"Crna macka, beli macor",1998,127,8.0,73.0,53984,0.35,Matko and his son Zare live on the banks of th...,Emir Kusturica,"[""Bajram Severdzan, Srdjan 'Zika' Todorovic, B..."
399,400,Sling Blade,1996,135,8.0,84.0,94181,24.48,"Karl Childers, a simple man hospitalized since...",Billy Bob Thornton,"['Billy Bob Thornton, Dwight Yoakam, J.T. Wals..."

In [77]:
df.to_excel('Imdb 400 Clean.xlsx')

In [78]:
df.to_csv('Imdb 400 Clean.csv')

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   SerialNo                      400 non-null    int64
 1   Movie Name                    400 non-null    object
 2   Year of release               400 non-null    int64
 3   Run time                      400 non-null    int64
 4   Movie Rating                  400 non-null    float64
 5   Metascore                     400 non-null    float64
 6   Votes                         400 non-null    int64
 7   Gross collection in millions  400 non-null    float64
 8   Description                   400 non-null    object
 9   Director                      400 non-null    object
 10  Star                          400 non-null    object
dtypes: float64(3), int64(4), object(4)
memory usage: 37.5+ KB

### > Thank you

In [ ]:
display(df['Gross collection in millions'].to_string(),delimiter=' ')

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.apply(pd.Series.value_counts)

In [ ]:
df.head(2)

## Viewing

In [ ]:
df.columns

In [ ]:
df[['SLNO', 'Movie Name', 'Year of release', 'Description','Director', 'Star']]

In [ ]:
df.iloc[465] #by posoition

In [ ]:
df.loc[3] #by index

In [ ]:
df.columns

# Data Cleaning

In [ ]:
df.columns

In [ ]:
df.rename(columns={'Watchtime':'Runtime','Description':'Summary','Gross collection':'Returns'})

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df.dropna()

In [ ]:
df.fillna('none')

In [ ]:
df=df.replace('----','0000')

In [ ]:
df.info()

In [ ]:
df['Votes']=df['Votes'].astype('int64')

In [ ]:
df.info()

In [39]:
df['Metascore'].median()

77.0

In [36]:
df[df['Metascore']<90]

,SerialNo,Movie Name,Year of release,Run time,Movie Rating,Metascore,Votes,Gross collection in millions,Description,Director,Star
0,1,The Shawshank Redemption,1994,142,9.3,81.00,2646498,28.34000,Two imprisoned men bond over a number of years...,Frank Darabont,"['Tim Robbins, Morgan Freeman, Bob Gunton, Wil..."
2,3,The Dark Knight,2008,152,9.0,84.00,2618406,534.86000,When the menace known as the Joker wreaks havo...,Christopher Nolan,"['Christian Bale, Heath Ledger, Aaron Eckhart,..."
7,8,Rocketry: The Nambi Effect,2022,157,8.9,62.28,46123,75.62455,Based on the life of Indian Space Research Org...,Madhavan,"['Madhavan, Simran, Rajit Kapoor, Ravi Raghave..."
8,9,Jai Bhim,2021,164,8.9,62.28,198740,239.00000,When a tribal man is arrested for a case of al...,T.J. Gnanavel,"['Suriya, Lijo Mol Jose, Manikandan K., Rajish..."
10,11,Inception,2010,148,8.8,74.00,2320632,292.58000,A thief who steals corporate secrets through t...,Christopher Nolan,"['Leonardo DiCaprio, Joseph Gordon-Levitt, Ell..."
...,...,...,...,...,...,...,...,...,...,...,...
395,396,Pâfekuto burû,1997,81,8.0,67.00,75967,0.78000,A pop singer gives up her career to become an ...,Satoshi Kon,"['Junko Iwao, Rica Matsumoto, Shinpachi Tsuji,..."
396,397,Central do Brasil,1998,110,8.0,80.00,39781,5.60000,The emotive journey of a former schoolteacher ...,Walter Salles,"['Fernanda Montenegro, Vinícius de Oliveira, M..."
397,398,La leggenda del pianista sull'oceano,1998,169,8.0,58.00,64506,0.26000,"A baby boy, discovered in 1900 on an ocean lin...",Giuseppe Tornatore,"['Tim Roth, Pruitt Taylor Vince, Mélanie Thier..."
398,399,"Crna macka, beli macor",1998,127,8.0,73.00,53984,0.35000,Matko and his son Zare live on the banks of th...,Emir Kusturica,"[""Bajram Severdzan, Srdjan 'Zika' Todorovic, B..."
399,400,Sling Blade,1996,135,8.0,84.00,94181,24.48000,"Karl Childers, a simple man hospitalized since...",Billy Bob Thornton,"['Billy Bob Thornton, Dwight Yoakam, J.T. Wals..."